# count or frequency encoding

In [1]:
# import only pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# reading the test dataset and only consider two features

df = pd.read_csv("test.csv" , usecols = ["X1", "X2"])
df.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [3]:
df.shape

(4209, 2)

In [4]:
#one hot encoding

pd.get_dummies(df).shape

(4209, 72)

In [5]:
# calculate the unique labels in the both features "X1" and "X2"

for col in df.columns[0:]:
    print(col,":", len(df[col].unique()),"labels")

X1 : 27 labels
X2 : 45 labels

In [6]:
# Let's obtain the count in each one of the labels in variables X1
# Let's capture this in dictionary , so that we can use it to re_map the labels

df.X1.value_counts().to_dict()

{'aa': 826,
 's': 602,
 'l': 599,
 'b': 596,
 'v': 436,
 'r': 252,
 'i': 189,
 'a': 153,
 'c': 142,
 'o': 81,
 'w': 50,
 'u': 40,
 'z': 31,
 'e': 29,
 'h': 27,
 'm': 27,
 'j': 22,
 'y': 21,
 't': 18,
 'n': 16,
 'k': 12,
 'f': 12,
 'p': 10,
 'g': 9,
 'ab': 5,
 'q': 3,
 'd': 1}

In [7]:
# Lets store the whole value in one variable
df_frequency_map = df.X1.value_counts().to_dict()

In [8]:
df.X1.head()

0    v
1    b
2    v
3    l
4    s
Name: X1, dtype: object

In [9]:
# and now we can replace X1 labels in the dataset df
df.X1 = df.X1.map(df_frequency_map)
df.head()

    X1  X2
0  436   n
1  596  ai
2  436  as
3  599   n
4  602  as

# Advantages 
1. Its very simple to implement
2. Does not increase the feature dimensional space

# Disadvantages
1. Loose valuable information
2. Adds somewhat arbitrary numbers, and therefore weights to the different lables, that may not be related to their preditive power

## hence now we have certain frequecy related to categorical variables and this is the key point of ordinal categorical variables that we can rank them.